.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.place-list {
  display: flex;
  align-items: center;
  color: darkred;
}

.add-place {
  display: flex;
  align-items: center;
  color: darkmagenta;
}